<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Logshub_OpenSubscriptions::index" title="Open Subscriptions">
                    <resource id="Logshub_OpenSubscriptions::services" title="Open Subscriptions Services"/>
                    <resource id="Logshub_OpenSubscriptions::services_save" title="Open Subscriptions Services Save"/>
                    <resource id="Logshub_OpenSubscriptions::services_new" title="Open Subscriptions Create Service"/>
                    <resource id="Logshub_OpenSubscriptions::connections" title="Open Subscriptions Connections"/>
                    <resource id="Logshub_OpenSubscriptions::config" title="Open Subscriptions Configuration"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
