<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
          <add id="OpenSubscriptions_OpenSubscriptions::index"
               title="Open Subscriptions"
               module="OpenSubscriptions_OpenSubscriptions"
               sortOrder="51"
               resource="OpenSubscriptions_OpenSubscriptions::index" />
          <add id="OpenSubscriptions_OpenSubscriptions::services"
               title="Services"
               module="OpenSubscriptions_OpenSubscriptions"
               sortOrder="10"
               resource="OpenSubscriptions_OpenSubscriptions::services"
               action="opensubscriptions/services"
               parent="OpenSubscriptions_OpenSubscriptions::index" />
          <add id="OpenSubscriptions_OpenSubscriptions::connections"
               title="Connections"
               module="OpenSubscriptions_OpenSubscriptions"
               sortOrder="12"
               resource="OpenSubscriptions_OpenSubscriptions::connections"
               action="opensubscriptions/connections"
               parent="OpenSubscriptions_OpenSubscriptions::index" />
          <add id="OpenSubscriptions_OpenSubscriptions::submodules"
               title="Submodules"
               module="OpenSubscriptions_OpenSubscriptions"
               sortOrder="15"
               resource="OpenSubscriptions_OpenSubscriptions::submodules"
               action="opensubscriptions/submodules"
               parent="OpenSubscriptions_OpenSubscriptions::index" />
    </menu>
</config>
